/**
 *  `main.css`
 *  Main CSS file for styling
 *  by Teerapat Kraisrisirikul
 */

/* Color palettes */

:root {
    --palette-pink-martini-light-aqua: rgb(223,255,255);
    --palette-pink-martini-light-blue: rgb(172,208,234);
    --palette-pink-martini-blue: rgb(127,159,208);
    --palette-pink-martini-indigo: rgb(103,96,170);
    --palette-pink-martini-pink: rgb(255,197,232);
    --palette-tainan-lamas-dark-gray: rgb(42,41,41);
    --palette-tainan-lamas-gray: rgb(208,210,211);
    --palette-tainan-lamas-aqua: rgb(24,189,207);
    --palette-tainan-lamas-blue: rgb(106,148,204);
    --palette-tainan-lamas-dark-blue: rgb(65,108,178);
}

/* Universal tags */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

p {
    font-weight: 200;
}

/* Specific elements */

.poll-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 30px;
}

/* Utilities */

.center {
    text-align: center;
}

.group {
    margin: 20px;
}

.m-top {
    margin-top: 20px;
}

.m-bottom {
    margin-bottom: 20px;
}

.narrow {
    width: 600px;
}

.narrow-less {
    width: 800px;
}

.title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}
