<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comment</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Kanit:200,300,400"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <div class="center title">
        <h1>Comment</h1>
        <h3 class="text-muted">{{ poll.title }}</h3>
      </div>

      {% if error %}
      <div class="alert alert-danger center container narrow">
        {{ error }}
      </div>
      {% endif %}

      <div class="container jumbotron narrow">
        <form method="POST" action="{% url 'comment' poll_id=poll.id %}">
          {% csrf_token %}

          <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
          </div>
          <div class="form-group">
            {{ form.body.label }}
            {{ form.body }}
          </div>
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.tel.label }}
            {{ form.tel }}
          </div>

          <div class="center group">
            <input class="btn btn-success" type="submit" value="Submit" />
            <a href="{% url 'poll' poll_id=poll.id %}"
              ><input class="btn btn-danger" type="button" value="Back"
            /></a>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
