<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Polls</title>
  </head>
  <body>
    <div>
      <h1>Login</h1>

      {% if error %}
        {{ error }} <br><br>
      {% endif %}

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <label>Password:</label>
        <input type="password" name="password">
        <br>
        <input type="hidden" name="next_url" value="{{ next_url }}">
        <input type="submit" value="LOGIN">
      </form>
      </ul>
    </div>

    <br>
    <img src="{% static 'img/pug.jpg' %}" width="50%">
  </body>
</html>
